<h1>Register</h1>

<form #registration="ngForm">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    [(ngModel)]="newUser.Username"
    id="username"
    minlength="4"
    required
  >
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    [(ngModel)]="newUser.Email"
    id="email"
    required
  >
  <label for="firstName">First Name (optional)</label>
  <input
    type="text"
    name="firstName"
    [(ngModel)]="newUser.GivenName"
    id="firstName"
    minlength="3"
  >
  <label for="lastName">Last Name (optional)</label>
  <input
    type="text"
    name="lastName"
    [(ngModel)]="newUser.Surname"
    id="lastName"
    minlength="3"
  >
  <label for="birthdate">Date of Birth (optional)</label>
  <input
    type="date"
    name="birthdate"
    [(ngModel)]="newUser.Birthdate"
    id="birthDate"
    minlength="3"
  >
  <button
    (click)="onSubmit()"
    [disabled]="!registration.form.valid"
  >Register</button>
</form>
